html {
/*background-color: darkgreen;*/
}

#title {
    max-width: 100%;
    margin-bottom: 100px;

    /*background-color: darkgreen;*/
}
.container {
    /*background-color: darkgreen;*/
}

body {
    background-image: url("../images/wall.jpg");
    background-size: cover;
}